In [ ]:
# no of tuples in a relation = cardinality
# no of attribute in a relation  = degree

In [1]:
m = [[x, x*2, x*3] for x in range (3,6)]
print(m)

[[3, 6, 9], [4, 8, 12], [5, 10, 15]]

In [ ]:
f=open('filename','wb')

In [ ]:
import mysql.connector

In [ ]:
# null values are ignored by aggregate function in sql

In [ ]:
# f.read() = it will read all the content of the file 
# f.read(100) = it will read the content up to 100 bytes

In [ ]:
# if you want to apply min or max in the list or tuple then the list or tuple must contain homogenous 
# data.

In [ ]:
# lifo - stack - last in first out
# fifo - queue - first in first out

In [ ]:
''' In circiuit switching, before a communication starts, a dedicated path is
identified between the sender and the receiver


In packet switching, before a communication starts, a dedicated path is not
identified between the sender and the receiver'''

In [ ]:
'''sys.platform[:2] = 'wi'
sys.platorm = window'''

In [ ]:
1 2 4 8 16 32 64 128 
1 0 1 0 = 5
0 1 0 1 = 10
1 1 1 1 = 15
0  0  0  0  1  0   0   1

In [ ]:
# to avoid wireless collison we use csma / ca protocols 
# csma stands for carrier sense multiple access and collison avoidance

# when it senses that the carrier is idle thats is no other carrier is their or no other node is 
# transmitting the data

In [ ]:
import mysql.connector as sql 
mycon = sql.connect(host='localhost',user='root',password='abc')
cur = mycon.cursor()
cur.execute("select Tname from Traders where city in ('delhi','Mumbai')")
data= cur.fetchall() or fetchone() or fetchmany(5)
for i in data:
    print(i)
mycon.close()

In [3]:
d={}
d['A']='One'
d['B']='Two'
d['C']='Three'
d['D']='Four'

print(d)

{'A': 'One', 'B': 'Two', 'C': 'Three', 'D': 'Four'}

In [ ]:
import mysql.connector as sql 
mycon = sql.connect(host='localhost',user='root',password='abc')
cur = mycon.cursor()
cur.execute("insert into Persons(P_ID,Lastname,Firstname)values(5,'Peterson','Kari')")
mycon.commit()
mycon.close()

In [1]:
'''i = 3
while (i < 5):
    if (i == 4):
        print("Welcome")
    else:
        print("No entry")
    i = i + 1
print("value of i", i)'''

for i in range(3,5):
    if i==4:
        print("Welcome")
    else:
        print("No entry")
print('value of i',i)

No entry
Welcome
value of i 4

In [3]:
# seek() method moves the current file pointer to the specified position .
# tell() method tells the current file pointer to the specified loaction .

def count():
    file=open("para.txt",'r')
    count = 0
    char = input("which character u want to count:")
    b=file.read()
    
    for i in b :
        if i == char :
            count += 1
    print("The total occurence is",count)
    file.close()

count()

which character u want to count:m
The total occurence is 4

In [6]:
# Write a function that accepts two parameters: a dictionary and a number; and prints
# only the keys that have values more than the passed number.
dic = {'A':15,'b':20,'c':25,'d':18}
def dis(d,n):
    for i in d:
        if d[i] > n:
            print(i,end="-")
dis(dic,15)

b-c-d-

In [ ]:
# select count(distinct type) from interiors

count(distinct type)
--------------------
        5
# ii. SELECT AVG(DISCOUNT) FROM INTERIORS WHERE TYPE = "Baby cot";

avg(discount)
--------------
    13

# iii. SELECT SUM(PRICE) FROM INTERIORS WHERE DATEOFSTOCK < {12/02/02}.

sum(price)
-----------
    53000

In [ ]:
i. Write two examples of DBMS software.
# oracle and mysql and db2 and sql server and miscrosoft Access
ii. What is meant by NULL value in MySQL?
# null value signifies empty values
iii. Table 'Club' has 4 rows and 3 columns. Table 'Member' has 2 rows and 5 columns.
What will be the cardinality of the Cartesian product of them?
# cardinality = r1*r2 = 4*2 = 8
# degree = c1+c2 = 3+5 = 8

In [2]:
# Write a method in Python to find and display the prime number between 2 to n.
# Pass n as an argument to the method.

def check_prime(n): 
    flag= False
    if n==0 and n==1:
        print(n,"it is not prime")
    elif n>1 :
        for i in range(2,n):
            if n%i == 0:
                flag = True
                break
        if flag :
            print(n,"it is not a prime no")
        else:
            print(n,"it is a prime no")
            
check_prime(25)

25 it is not a prime no

In [4]:
# Write a function that receives two tuples and creates a third that contains all elements of
# the first followed by all elements of the second.

def create(t1,t2):
    new = t1+t2
    return new
t1=(1,2,3)
t2=(4,5,6)
n = create(t1,t2)
print(n)

(1, 2, 3, 4, 5, 6)

In [17]:
'''Write the Push operation of stack containing person names. Notice that the name
should only accept characters, spaces and period (.) except digits. Assume that
Pname is a class instance attribute.'''

def push(stk,name):
    
    for i in name:
        if  (('a'<= i <= 'Z') or ('A'<= i <='Z' ) or (i==" ") or (i == ".")):
            return stk.append(name)
            

stk = [] 
push(stk,'Aman jha')
push(stk,'DR A.p.j Abdul Kalam')
print(stk)

['Aman jha', 'DR A.p.j Abdul Kalam']

In [1]:
'''A line of text is read from the input terminal into a stack. Write a program to output the
string in the reverse order, each character appearing twice.
(ie.g., the string a b c d e should be changed to ee dd cc bb aa)'''

stack=[]
string = input("enter ur string")

rev = " "

for i in string:
    stack.append(i)

for i in range(len(stack)):
    rev=rev+stack.pop()*2
print(rev)

enter ur stringabcde
 eeddccbbaa

In [6]:
'''Write one difference between CSV and text files.
Write a program in Python that defines and calls the following user defined
functions:
i. COURIER_ADD () : It takes the values from the user and adds the details to a
csv file 'courier.csv'. Each record consists of a list with field elements as cid, s
name, Source, destination to store Courier ID, Sender name, Source and
destination address respectively.
ii. COURIER_SEARCH () : Takes the destination as the input and displays all the
courier records going to that destination.'''

import csv

def courier_add():
    f=open("courie.csv","w")
    b=csv.writer(f)
    while True:
        cid=int(input("enter the courier id"))
        sname=input("enter the source name")
        source = input("enter the source")
        destination=input('enter the destination')
        rec=[cid,sname,source,destination]
        csv.writerow(rec)
        ch=input("enter q to exit")
        if ch in 'qQ':
            break
    f.close()
    
def courier_Search():
    f=open("courier.csv","r")
    b=csv.reader(f)
    name=input("enter the destination name to be searched")
    for i in b:
        if i[3]==name:
            print(i)