In [ ]:
# no of tuples in a relation = cardinality
# no of attribute in a relation  = degree

In [1]:
m = [[x, x*2, x*3] for x in range (3,6)]
print(m)

[[3, 6, 9], [4, 8, 12], [5, 10, 15]]

In [ ]:
f=open('filename','wb')

In [ ]:
import mysql.connector

In [ ]:
# null values are ignored by aggregate function in sql

In [ ]:
# f.read() = it will read all the content of the file 
# f.read(100) = it will read the content up to 100 bytes

In [ ]:
# if you want to apply min or max in the list or tuple then the list or tuple must contain homogenous 
# data.

In [ ]:
# lifo - stack - last in first out
# fifo - queue - first in first out

In [ ]:
''' In circiuit switching, before a communication starts, a dedicated path is
identified between the sender and the receiver


In packet switching, before a communication starts, a dedicated path is not
identified between the sender and the receiver'''

In [ ]:
'''sys.platform[:2] = 'wi'
sys.platorm = window'''

In [ ]:
1 2 4 8 16 32 64 128 
1 0 1 0 = 5
0 1 0 1 = 10
1 1 1 1 = 15
0  0  0  0  1  0   0   1

In [ ]:
# to avoid wireless collison we use csma / ca protocols 
# csma stands for carrier sense multiple access and collison avoidance

# when it senses that the carrier is idle thats is no other carrier is their or no other node is 
# transmitting the data

In [ ]:
import mysql.connector as sql 
mycon = sql.connect(host='localhost',user='root',password='abc')
cur = mycon.cursor()
cur.execute("select Tname from Traders where city in ('delhi','Mumbai')")
data= cur.fetchall() or fetchone() or fetchmany(5)
for i in data:
    print(i)
mycon.close()

In [3]:
d={}
d['A']='One'
d['B']='Two'
d['C']='Three'
d['D']='Four'

print(d)

{'A': 'One', 'B': 'Two', 'C': 'Three', 'D': 'Four'}

In [ ]:
import mysql.connector as sql 
mycon = sql.connect(host='localhost',user='root',password='abc')
cur = mycon.cursor()
cur.execute("insert into Persons(P_ID,Lastname,Firstname)values(5,'Peterson','Kari')")
mycon.commit()
mycon.close()

In [1]:
'''i = 3
while (i < 5):
    if (i == 4):
        print("Welcome")
    else:
        print("No entry")
    i = i + 1
print("value of i", i)'''

for i in range(3,5):
    if i==4:
        print("Welcome")
    else:
        print("No entry")
print('value of i',i)

No entry
Welcome
value of i 4

In [3]:
# seek() method moves the current file pointer to the specified position .
# tell() method tells the current file pointer to the specified loaction .

def count():
    file=open("para.txt",'r')
    count = 0
    char = input("which character u want to count:")
    b=file.read()
    
    for i in b :
        if i == char :
            count += 1
    print("The total occurence is",count)
    file.close()

count()

which character u want to count:m
The total occurence is 4

In [6]:
# Write a function that accepts two parameters: a dictionary and a number; and prints
# only the keys that have values more than the passed number.
dic = {'A':15,'b':20,'c':25,'d':18}
def dis(d,n):
    for i in d:
        if d[i] > n:
            print(i,end="-")
dis(dic,15)

b-c-d-